.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a1b22;
  width: 91.5%;
  margin: 0;
  padding: 16px 16px;
}

.hamburger-menu[data-theme="dark"] {
  --primary: #fff;
  --border: rgba(255, 255, 255, 0.2);
}

.hamburger-menu[data-theme="light"] {
  --primary: black;
  --border: #d1d2d6;
}

.hamburger-menu__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu__logo {
  font-family: "Roboto-Slab";
  font-size: 20px;
  font-weight: 700;
  margin: none;
  color: var(--primary);
}

.hamburger-menu__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 24px;
  width: 24px;
  background-image: url("../../assets/close-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
}

.hamburger-menu__links {
  display: flex;
}
