.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  border-bottom: solid;
  border-color: rgba(255, 255, 255, 0.2);
}

.nav__logo {
  font-family: "Roboto-Slab";
  font-size: 20px;
  font-weight: 700;
  margin: none;
  color: #fff;
}

.nav__link-container {
  display: flex;
  flex-direction: row;
  gap: 42px;
  align-items: center;
}

.nav__signin-btn {
  width: 152px;
  height: 40px;
  border-radius: 100px;
  background: none;
  border-color: #fff;
  color: #fff;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-style: solid;
}

.nav__signin-btn:hover {
  cursor: pointer;
}

.nav__link {
  text-decoration: none;
  color: #fff;
}

.nav__home-text {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
